name: Test setup/lerna

on:
  push:
    branches:
      - master
    paths:
      - 'setup/lerna/**'
      - 'setup/yarn-berry/**'
  pull_request:
    types: [opened, synchronize]
    paths:
      - 'setup/lerna/**'
      - 'setup/yarn-berry/**'

permissions:
  contents: read

jobs:
  integration-test:
    name: Integration
    runs-on: ubuntu-latest
    steps:
      - name: Checkout test repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          repository: ExodusMovement/lerna-test
          ref: master
          token: ${{ secrets.GH_AUTOMATION_PAT }}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          path: actions
      - uses: ./actions/setup/lerna
        with:
          npm-token: ${{ secrets.NPM_PUBLISH_TOKEN }}
      - name: Install dependencies
        run: yarn install --immutable
      - name: Publish
        run: npx lerna publish from-package --yes
